.userDetails{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top:20px;
 }
  
 .specific-user{
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
 .userName{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-right:10px;
    color:1e523a;
 }
  
 .button{
    height:30px;
    width:90px;
    border-radius: 5px;
 }
  
 .details-button{
    margin-right:10px;
 }
 
 .email-label{
    font-size: 14px;
    margin-bottom: 9px;
}

.submit-button{
    margin-top:10px;
}

.sign-button{
   margin-left:10px;
}